body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background-image: url('image1.jpg');
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(248, 244, 244, 0.364);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

.chart-container {
    margin-top: 20px;
}
