{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CHRIST UNIVERSITY LIBRARY</title>
  <link rel="icon" href="{% static 'Images/Christ Logo.png' %}">
  <link rel="stylesheet" href="{% static 'styles/r.css' %}">
</head>
<body style="background-image: url('/static/Images/image1.jpg'); font-family: 'Times New Roman', Times, serif;">
  <header>
    <h1>RULES AND REGULATION</h1>
  </header>
  
  <main>
    <section>
      <h2>BORROWING RULES</h2>
      <ul>
        <li>Each member can borrow a maximum of 5 books at a time.</li>
        <li>Books must be returned within 2 weeks from the date of borrowing.</li>
        <li>Renewals are allowed for a maximum of 2 times per book.</li>
        <li>Reference books cannot be borrowed and must be used within the library premises.</li>
        <li>Fines will be imposed for late returns.</li>
        <!-- Add more borrowing rules here -->
      </ul>
    </section>

    <section>
      <h2>CODE OF CONDUCT</h2>
      <ul>
        <li>All visitors are required to maintain silence within the library premises.</li>
        <li>Eating or drinking is not allowed in the library.</li>
        <li>Mobile phones must be on silent mode and calls should be taken outside the library.</li>
        <li>Respect the library materials and infrastructure.</li>
        <li>Computer usage is limited to educational purposes only.</li>
      </ul>
    </section>

    <section>
      <h2>MEMBERSHIP RULES</h2>
      <ul>
        <li>Library membership is open to students, faculty, and staff of the institution.</li>
        <li>A valid ID card is required for membership registration.</li>
        <li>Membership renewal must be done annually.</li>
        <li>Lost or damaged books must be compensated according to the library's policy.</li>
      </ul>
    </section>

    <section>
      <h2>INTERNET USAGE</h2>
      <ul>
      <li>Internet usage is provided for research and educational purposes only. Inappropriate use of the internet is strictly prohibited.</li>
      <li>Downloading, accessing inappropriate content, or engaging in any illegal activities are strictly forbidden.</li>
      </ul>
    </section>
  </main>
  <script src="{% static 'styles/r.js' %}"></script>

  
</body>
</html>