{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot ID/Password - Library Management System</title>
    <link rel="stylesheet" href="{% static 'styles/pass.css' %}">
</head>

<body style="background-image: url('/static/Images/image1.jpg'); font-family: 'Times New Roman', Times, serif;" >
    <div class="container" >
        <h2 class="fade-in" style=" color: white;">Forgot ID/Password</h2>
        <form id="forgotPasswordForm" onsubmit="recoverCredentials(event)">
            <div class="form-group fade-in">
                <label for="email" style=" color: white;">Enter your Email:</label>
                <input type="email" id="email" name="email" placeholder="example@example.com" required>
            </div>
            <button type="submit" class="fade-in">Recover</button>
        </form>
        <p id="error-message" class="error-message"></p>
        <p id="success-message" class="success-message"></p>
    </div>

    <script src="{% static 'styles/pass.js' %}"></script>

    
            
    </div>

    
</body>

</html>
