body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    font-family:'Times New Roman', Times, serif;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .contact {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
  }
  
  .contact-info {
    max-width: 400px;

  }
  
  
  