/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(image1.jpg);
}

.container {
    background-color: #ffffff22;
    padding: 18px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(133, 94, 94, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

/* Style for form elements */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
button {
    width: calc(100% - 18px);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(96, 65, 26);
}

button {
    background-color: burlywood;
    color: #f2f3f8f3;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(155, 103, 34);
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add this style rule to change text color for the heading */
h2 {
    color: rgb(1, 15, 14); /* Replace with the color you want */
}
/* Add fade-out animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
