body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('image1.jpg') center repeat fixed;
    color: #f5f0f0;
}

.header, footer {
    text-align: center;
    margin-bottom: 20px;
}

.header {
    padding: 20px 0;
    background: linear-gradient( burlywood 50%,beige);
    border-radius: 10px 10px 0 0;
    color: aliceblue;
    animation: fadeInUp 1s ease-out;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: x-large;
}

section {
    margin-bottom: 20px;
    margin-left: 470px;
    margin-right: 470px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.121);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    background-color: transparent;
    color: #eff4f4;
    text-align: center;
    font-size: x-large;
}

section:not(.active) ul,
section:not(.active) p {
    display: none;
}
