body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.sidebar {
height: 100vh;
background-color: rgba(255, 255, 255, 0.179);

background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-shadow:black;
}
.bottom-border {
border-bottom: 5px dotted white;
}
.sidebar-link{
    transition: all .4s;
}
.sidebar-link:hover{
    background-color: rgba(128, 128, 128, 0.349);
    border-radius: 5px;
}
.current{
    background-color:rgba(255, 255, 255, 0.163);
    border-radius: 8px;
    box-shadow: 2px 5px 5px white;
    transition: all .3s;
}
.current:hover{
    background-color:rgba(128, 128, 128, 0.39);
    border-radius: 8px;
    box-shadow: 2px 5px 5px white;
    transform: translateY(-1px);
}
/* .top-bar {
background-color:rgba(255, 255, 255, 0.034);
} */
/*input:placeholder{
    color: white;
    opacity: 1;
}*/
.search-input{
    background: transparent;
    
    border: none;
    border-radius: 0;
    border-bottom:2px solid white;
    transition: all .4s;
}
.search-input:focus{
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid white;
}
.search-button{
    border-radius: 50%;
    padding: 10px 16px;  
    transition: all .4s; 
}
.search-button:hover {
    background-color: white;
    transform: translateY(-1px);
}
.icon-parent{
position: relative;
}
.icon-bullet ::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color:#B71C1C;
border-radius: 50%;
}
@media (max-width: 768px){
    .sidebar {
        position: static;
        height: auto;
    }
    .top-nav{
        position: static;
    }
}
/*Cards*/
.card-common{
    box-shadow: 1px 2px 5px gray;
   transition: all .4s; 
}
.card-common:hover {
    box-shadow: 2px 3px 15px gray;
    transform: translateY(-1px);
}
/*End of cards*/
.table-color{
    background:white;
}
.bg-progress{
    background: white;
}

.page-item{
    color: #ffffff;
}
.page-link{
    color: #ffffff;
    
}
.page-item.active .page-link{
    background-color:gray;
    border-color: black;
    box-shadow: none;
}
/*task list*/
.task-border{
    border-left: 3px solid black;
}

.bg-1{
    background-color: white;
}
.bg-2{
background-color:white;
}
.bg-3{
    background-color: white;
}
.bg-4{
    background-color: white;
}
/*End of task list*/
.bg-button{
  background:  #d0d3cd;
}

input.form-control{
    color: white;
}
