{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'styles\userbook.css' %}">
    <script src="https://kit.fontawesome.com/c0fc838bea.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles\user.css' %}">


    <style>
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 80%;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-right: 20px;
            animation: slideInLeft 1s ease-in-out;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            transition: 0.3s ease-in-out;
        }

        th {
            color: black;
            background-color: burlywood;

        }

        td {

            color: white;
        }

        tr:nth-child(even) {
            background-color: white;

        }

        tr:nth-child(even) td {
            color: black;

        }

        tr:hover {
            background-color: rgb(184, 139, 80);
            transform: scale(1.02);
        }

        tr:hover td {
            background-color: rgb(184, 139, 80);
            transform: scale(1.02);
            color: white;
        }
    </style>
</head>

<body style="background-image: url('/static/Images/image1.jpg'); font-family: 'Times New Roman', Times, serif;">

    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="container-fluid">
                <div class="row">

                    <div class="row">

                        <div class=" col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                            <a href="#" class="navbar-brand text-white d-blockmx-auto text-center py-3 mb-4">
                                <img
                                    src="{% static 'Images/58372707_1247418162084625_4254928489880223744_n-removebg-preview.png' %}"></a>
                            <div class="bottom-border pb-3">
    
                                <p class="text-white "
                                    style="font-family: 'Times New Roman', Times, serif; text-transform: uppercase;">
                                    {{request.user.username}}-{{user_details.Register_number}}</p>
                            </div>
                            <ul class="navbar-nav flex-column mt-4">
                                <li class="nav-item"><a href="{% url 'user_index' %}" class="nav-link text-white p-3 mb-2
                        sidebar-link"><i class="fas fa-home text-light fa-lg mr-3"></i>
                                        Dashboard</a></li>
                                <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link text-white p-3 mb-2
                        sidebar-link"><i class="fas fa-user text-light fa-lg mr-3"></i>
                                        Profile</a></li>
    
                                <li class="nav-item"><a href="{% url 'userbooks' %}" class="nav-link text-white p-3 mb-2
                        current"><i class="fas fa-shopping-cart text-light fa-lg mr-3"></i>
                                        Books</a></li>
                                
                                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link text-white p-3 mb-2
                        sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>
                                        Log-out</a></li>
    
    
                        </div>

                    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto top-bar  py-2 top-nav">
                        <div class="row align-item-center">
                            <div class="col-md-4">

                            </div>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </nav>

    <div class="modal" id="sign-out">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Signout</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    press the button
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">
                        Leave </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Cancel </button>
                </div>
            </div>
        </div>
    </div>




    <section>
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                            <h1><b style="color: burlywood; margin-left: 12%;">RECORD OF BOOKS</b></h1>

                            <div class="container">

                                <table>
                                    <thead>
                                        <tr>
                                            <th>BOOK TITLE</th>
                                            <th>AUTHOR</th>
                                            <th>STATUS</th>
                                            <th>CURRENT COUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for b in b_details %}
                                        <tr>

                                            <td>{{b.BookName}}</td>
                                            <td>{{b.BookId}}</td>
                                            <td>{{b.Author}}</td>
                                            <td>{{b.BookStatus}}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>

                                </nav>

                            </div>



                        </div>
                        <div class="col-xl-6 col-12">


                            <div class="col-md-12" style="padding: 5%;">
                                <form method="post" class="form2">
                                    {% csrf_token %}
                                    <h1> ISSUE/RETURN BOOKS </h1>

                                    <label for="id">Book Id:</label>
                                    <input type="text" id="b_id" name="b_id">

                                    <label for="status">Book Status:</label>
                                    <input type="text" id="b_status" name="b_status">
                                    
                                    <label for="date">Issued On:</label>
                                    <input type="date" id="isu" name="isu">
                                    <label for="date">Returned On:</label>
                                    <input type="date" id="ret" name="ret">
                                    <button type="submit" style="font-weight: 400;" >SUBMIT</button>

                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
    </section>





    



</body>

</html>